@media screen and (min-width: 76.25em) {
  .md-content {
    max-width: 80%;
  }
}

.md-typeset a {
  text-decoration: underline;
}


@media only screen and (max-width: 1100px) {
  .header-large-menu-item {display: none;}
}

.header-menu-item {
  float: left;
  padding: 0 0.4rem;
}

.header-menu-item-selected {
  font-weight: bold;
  color: #555;
}


img ~ strong {
  display: block;
  text-align: center;
  color: #777;
  margin-bottom: 1.5rem;
}

p img {
  display: block;
  margin: 0 auto;
}


.algolia-autocomplete .ds-dropdown-menu {
  width: 60rem;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-size: 1.75em
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  font-size: 1.2em
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-size: 1.4em
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 1.3em
}
