_build/
.idea/
__pycache__
data/cache/*
mkdocs.dev.yml
.ruff_cache/
.vscode/

.pytest_cache/

albumentationswebsite-62c20277d30c.json

google_credentials.json

website/node_modules/
website/.yarn/
website/.next/

website/.env.local

*.ipynb

website/build/

_cache/

*.egg-info/

docs/src/site/

albumentations/

_build/
