@media screen and (min-width: 76.25em) {
  .md-content {
    max-width: 80%;
  }
}

.md-typeset a {
  text-decoration: underline;
}


@media only screen and (max-width: 1100px) {
  .header-large-menu-item {display: none;}
}

.header-menu-item {
  float: left;
  padding: 0 0.4rem;
}

.header-menu-item-selected {
  font-weight: bold;
  color: #555;
}


img ~ strong {
  display:block;
  text-align: center;
  color: #777;
  margin-bottom: 1.5rem;
}
