<div class="col-12 mb-4">
    <div class="row"
         style="border: 1px solid #e7eaf3; border-radius: 0.3125rem; padding: 10px">
        <div class="col-12 col-sm-8">
            <h5 class="mt-2"><a href="{{ competition.link }}" class="border-link"
                                target="_blank">{{ competition.title }}</a></h5>
            <ul class="list-inline font-size-1 text-muted mt-2">
                {% for member in competition.team %}
                <li class="list-inline-item"><a href="{{ member.link }}"
                                                class="border-link"
                                                target="_blank">{{ member.name }}</a>
                </li>
                {% if not loop.last %}
                <li class="list-inline-item text-muted">•</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="d-md-flex align-items-md-center">
                {% for link in competition.links %}
                <div class="{% if not loop.last %}u-ver-divider{% endif %} pr-3 mb-3 mb-md-0 mr-3">
                    <a class="border-link" href="{{ link.link }}"
                       target="_blank">{{ link.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="alert alert-warning text-center">
                {{ competition.place }} place
            </div>
            <div class="alert alert-secondary text-center">
                Platform: <a href="{{ competition.platform.link }}" class="border-link"
                             target="_blank">{{ competition.platform.name }}</a>
            </div>
        </div>
    </div>
</div>
