{% extends "_base.html" %}
{% block title %}Contact us. Albumentations: Fast and Flexible Image Augmentations{% endblock %}
{% block content %}
<div class="container space-top-2 space-bottom-2">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1>Contact us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="https://submit-form.com/1UPRfM6RQl9mW7C8JY90t">
                <div class="form-group row  align-items-center">
                    <label for="email" class="col-12 col-sm-2 col-form-label">Email</label>
                    <input type="email" class="form-control col-12 col-sm-10" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group row align-items-center" style="display:none">
                    <label for="title" class="col-12 col-sm-2 col-form-label">Title</label>
                    <input type="email" class="form-control col-12 col-sm-10" id="title" name="title" placeholder="Enter message title" tabindex="-1" autocomplete="off"
                    >
                </div>
                <input
                        type="hidden"
                        name="_redirect"
                        value="{{ base_url }}/submit_success.html"
                />
                <div class="form-group row  align-items-center">
                    <label for="name" class="col-12 col-sm-2 col-form-label">Name</label>
                    <input type="text" class="form-control col-12 col-sm-10" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group row  align-items-center">
                    <label for="message" class="col-12 col-sm-2 col-form-label">Message</label>
                    <textarea class="form-control col-12 col-sm-10" id="message" rows="20" name="message" placeholder="Enter your message" required></textarea>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-right btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
