{% extends "_base.html" %}
{% block title %}Contact us. Albumentations: Fast and Flexible Image Augmentations{% endblock %}
{% block content %}
<div class="container space-top-2 space-bottom-2">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1>Contact us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span style="font-size: 1.5rem; line-height: 2.5rem">
                Your message has been submitted. Thank you for reaching us out.
                If needed, we will contact you at the email address you have provided.
            </span>
        </div>
    </div>
</div>
{% endblock %}
