{% extends "_base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<div class="container">
    <div class="text-left mb-4 mt-6">
        <h1 class="font-weight-medium text-center">Core team</h1>
    </div>
    <div class="row justify-content-md-center mx-n2 mb-1 row-cols-1 row-cols-md-3 row-cols-xl-5">
        {% for member in team %}
        <div class="col px-2 mb-3">
            <div class="card shadow p-4 align-items-center text-center">
                <div class="mb-4">
                    <img class="img-fluid" src="./assets/img/team_avatars/{{ member.photo }}"
                         alt="{{ member.name }}">
                </div>
                <h4 class="h5 text-lh-sm" style="height: 60px">{{ member.name }}</h4>
                <ul class="list-inline mb-0 mt-2">
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-primary rounded member-social-network" href="https://linkedin.com/{{ member.linkedin }}" target="_blank"
                        >
                            <span class="fab fa-linkedin btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-primary rounded member-social-network" href="https://github.com/{{ member.github }}" target="_blank"
                           >
                            <span class="fab fa-github btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-primary rounded member-social-network" href="https://twitter.com/{{ member.twitter }}" target="_blank"
                           >
                            <span class="fab fa-twitter btn-icon__inner"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container space-top-2 space-bottom-1">
    <div class="text-left mb-4">
        <h1 class="font-weight-medium text-center">Contributors</h1>
    </div>
    <div class="row">
        {% for contributor in contributors %}
        <div class="d-flex flex-wrap">
            <div class="m-1" style="border: 1px solid #ccc">
                <a href="https://github.com/{{ contributor.login }}" target="_blank"><img
                        src="{{ contributor.avatar_url }}"
                        alt="{{ contributor.login }}" title="{{ contributor.login }}"
                        style="width: 70px;"/></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
