{% extends "_base.html" %}
{% block title %}Who's using Albumentations{% endblock %}
{% block content %}
<div class="container space-top-1">
    <div class="text-left mb-6">
        <div class="anchor">
            <a id="industry"> </a>
            <h1 class="font-weight-medium text-center">Industry</h1>
        </div>
    </div>
    <div class="row  justify-content-start mb-7">
        <div class="row justify-content-start">
            <div class="col-12">
                <div class="row justify-content-start">
                    {% for company in img_industry %}
                    <div class="col-md-2 col-sm-4 p-5 align-self-center">
                        <a href="{{ company.url }}" target="_blank"><img
                                src="./assets/img/industry/{{ company.img_filename }}"
                                alt="{{ company.name }}" title="{{ company.name }}" class="img-fluid"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<div class="row"><div class="col-12"><a class="btn btn-soft-secondary float-right mb-4" href="#" data-modal-target="#addCompanyModal" data-modal-effect="blur" data-overlay-opacity="0.7">
                      Add my company to this list
                    </a>
</div> </div>



</div>
        {% include "_add_company_form.html" %}



<hr class="my-0">
<div class="container space-top-1 space-bottom-1">
    <div class="text-left mb-2">
        <div class="anchor">
            <a id="research"> </a>
            <h1 class="font-weight-medium text-center">Deep learning research</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            Albumentations is widely used in research areas related to computer vision and deep
            learning. If you find this library useful for your research, please consider
            citing <a href="https://www.mdpi.com/2078-2489/11/2/125" target="_blank"
                      class="border-link">Albumentations: Fast and Flexible Image Augmentations</a>:
            <pre style="background-color: #eee; border: 1px solid #777; padding: 10px"
                 class="mt-2"><code>@Article{info11020125,
    AUTHOR = {Buslaev, Alexander and Iglovikov, Vladimir I. and Khvedchenya, Eugene and Parinov, Alex and Druzhinin, Mikhail and Kalinin, Alexandr A.},
    TITLE = {Albumentations: Fast and Flexible Image Augmentations},
    JOURNAL = {Information},
    VOLUME = {11},
    YEAR = {2020},
    NUMBER = {2},
    ARTICLE-NUMBER = {125},
    URL = {https://www.mdpi.com/2078-2489/11/2/125},
    ISSN = {2078-2489},
    DOI = {10.3390/info11020125}
}
</code></pre>
        </div>
    </div>
    {% set num_visible_citations = 20 %}
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mt-3" style="font-size: 1.5rem">List of papers that cite
                    Albumentations</h3>
                {% for citation in citations[:num_visible_citations] %}
                <div class="row  mb-3 mt-3"
                     style="border: 1px solid #e7eaf3; border-radius: 0.3125rem; padding: 10px">
                    <div class="col-12" style="font-size: 1.05rem;">
                        {{ loop.index }}. {{ citation.title }}
                    </div>
                    <div class="col-12 mt-1" style="font-size: 0.95rem">
                        {{ citation.date }} - {{ citation.authors }}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <a class="btn btn-primary btn-block collapse-button" data-toggle="collapse"
                       href="#citations-all"
                       role="button" aria-expanded="false" aria-controls="#citations-all"
                       data-length="{{ citations[num_visible_citations:]|length }}" data-state="hidden">
                        Show {{ citations[num_visible_citations:]|length }} more <i class="fa fa-angle-down"></i>
                    </a>
                </div>
                <div id="citations-all" class="collapse">
                    {% for citation in citations[num_visible_citations:] %}
                    <div class="row  mb-3 mt-3"
                         style="border: 1px solid #e7eaf3; border-radius: 0.3125rem; padding: 10px">
                        <div class="col-12" style="font-size: 1.05rem;">
                            {{ loop.index + num_visible_citations }}. {{ citation.title }}
                        </div>
                        <div class="col-12 mt-1" style="font-size: 0.95rem">
                            {{ citation.date }} - {{ citation.authors }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-0">

{% set num_visible_competitions = 20 %}
<div class="container space-top-1 space-bottom-1">
    <div class="text-left mb-8">
        <h1 class="font-weight-medium text-center" id="competitions">Machine learning
            competitions</h1>
    </div>
    {% for competition in competitions[:num_visible_competitions] %}
    {% include '_competition.j2' %}
    {% endfor %}
    <a class="btn btn-primary btn-block collapse-button" data-toggle="collapse"
       href="#competitions-all"
       role="button" aria-expanded="false" aria-controls="#competitions-all"
       data-length="{{ competitions[num_visible_competitions:]|length }}" data-state="hidden">
        Show {{ competitions[num_visible_competitions:]|length }} more <i class="fa fa-angle-down"></i>
    </a>
    <div id="competitions-all" class="collapse">
        {% for competition in competitions[num_visible_competitions:] %}
        {% include '_competition.j2' %}
        {% endfor %}
    </div>
</div>
<hr class="my-0">
<div class="container space-top-1 space-bottom-1">
    <div class="text-left mb-8">
        <h1 class="font-weight-medium text-center" id="open-source">Open source projects</h1>
    </div>
    <div class="row">
        {% for repository in top_repositories %}
        <div class="col-12 col-sm-6 mb-4">
            <div
                    style="border: 1px solid #aaa; border-radius: 0.3125rem; padding: 10px; min-height:150px">
                <h5><a class="border-link" target="_blank"
                       href="https://github.com/{{ repository.title }}">{{ repository.title }}</a>
                    <a target="_blank"
                       href="https://github.com/{{ repository.title }}"
                       style="padding-left: 5px"><span class="badge badge-light" style="font-size: 1.25rem; padding: 0.4rem"><i
                            class="fa fa-star"></i> {{ repository.stars_rounded }}</span></a>
                </h5>
                <div style="font-size: 1rem" class="mt-4">{{ repository.description or 'No description provided.' }}
                </div>
                <div></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary btn-block" href="https://github.com/albumentations-team/albumentations/network/dependents" target="_blank"><i class="fab fa-github"></i> View all open source projects on GitHub</a>
        </div>
    </div>
</div>
{% endblock %}
