site_name: Albumentations Documentation

plugins:
  - mkdocs-jupyter
  - awesome-pages
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_source: false
            show_if_no_docstring: false
            show_object_full_path: true
          parsing:
            paths:
              - /albumentations
          selection:
            docstring_style: google
            docstring_options:
              replace_admonitions: no
      custom_templates: mkdocstrings_theme
  - mkdocs-simple-hooks:
      hooks:
        on_pre_page: "hooks:on_pre_page"
        on_page_content: "hooks:on_page_content"
        on_nav: "hooks:on_nav"
  - macros

markdown_extensions:
  - codehilite
  - attr_list
  - admonition
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.arithmatex
  - tables
  - toc:
      permalink: true

theme:
  name: material
  palette:
    primary: "white"
    accent: "white"
  # custom_dir: custom_theme/
  logo: images/logo.png
  favicon: images/logo.png
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.top
    - navigation.sections

extra_css:
  - https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css
  - css/extra.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML
  - js/extra.js

repo_name: albumentations
repo_url: https://github.com/albumentations-team/albumentations
site_url: https://albumentations.ai/docs/

edit_uri: 'https://github.com/albumentations-team/albumentations.ai/tree/main/mkdocs/src/docs'
notebook_github_uri: https://github.com/albumentations-team/albumentations_examples/tree/main/notebooks/
notebook_colab_uri: https://colab.research.google.com/github/albumentations-team/albumentations_examples/blob/main/notebooks/

site_dir: /site

site_description: "Albumentations: fast and flexible image augmentations"

extra:
  analytics:
    provider: google
    property: G-DCXRDR9HJ0
